/** @format */

.navigationbar {
  transition: background-color 0.5s ease, opacity 0.5s ease;
  background-color: transparent;
}

.navigationbar.scrolled-up {
  background-color: #000;
}

.navigationbar.hidden {
  opacity: 0;
}

.navigationbar.show-on-hover:hover {
  opacity: 1;
}
