.navigationbar.scrolled-up {
  background-color: #000; /* change background color to black when scrolled up */
}

.navigationbar.hidden {
  opacity: 0; /* hide the navigation bar */
  transform: translateY(-100%);
}

.navigationbar.show-on-hover:hover {
  opacity: 1; /* show the navigation bar on hover */
}
